
/* //// TEXT ALIGN //// */

.text-center 
	text-align center
.text-left
	text-align left
.text-right
	text-align right

/* //// VERTICAL ALIGN //// */

.middle
	display: flex
	align-items: center

/* //// FULLSCREEN & FIXED-FULLSCREEN //// */

.fullscreen
	fullscreen absolute
.fixed-fullscreen
	fullscreen fixed

/* //// NO SELECT //// */
.noselect
	user-select none
